SUPABASE_URL=
SUPABASE_SERVICE_KEY= JWT_SECRET=
FRONTEND_URL= PORT=
https://itdkpbhaomfqmhbsvbfi.supabase.co/rest/v1/
sb_publishable_dKbY1OakL3ZupJRN1zilvw_iaeV2iDW
sb_SERVICE_ROLE_KEY=your_actual_secret_key_here
